$mainColor: #e14b42;
body {
  height: 4000px;
  padding-top: 70px;
}
//Start Navbar
//navbar main
.navbar {
  min-height: 70px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: $mainColor;
  color: #dfd7d7;
}
.navbar-inverse .navbar-nav > li > a {
  color: #dfd7d7;
}
.nav > li > a {
  margin-top: 9px;
}
.navbar-inverse .navbar-brand {
  color: #dfd7d7;
}

//Brand Name
.navbar-brand {
  font-size: 20px;
  padding: 22px 15px;
  span {
    color: $mainColor;
  }
}

//DropDown Menu
.dropdown-menu {
  min-width: 200px;
  background-color: #333;
  transition: all 0.5s ease;
}
.navbar-nav > li > .dropdown-menu {
  right: auto;
  left: 0;
}
.dropdown-menu > li > a {
  color: #fff;
}
.dropdown-menu > li > a:hover {
  background-color: $mainColor;
  color: #fff;
  padding: 10px;
}

//End Navbar

//   Start carousal
img {
  width: 100%;
}
//caption
.carousel-caption {
  margin-bottom: 50px;
  background-color: #333;
  opacity: 0.5;
  border-radius: 20px;
}
//carousel-indicators
.carousel-indicators {
  bottom: 0;
  li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $mainColor;
  }

  .active {
    width: 22px;
    height: 22px;
    background-color: $mainColor;
  }
}
.glyphicon-chevron-left:hover,
.glyphicon-chevron-right:hover {
  color: $mainColor;
}
// End carousal
// Start section About
.about {
  padding-top: 60px;
  padding-bottom: 60px;
  h3 {
    font-weight: bold;
    span {
      color: $mainColor;
    }
  }
  .lead {
    line-height: 2em;
  }
}
// End section About
//Start section Features
.features {
  background-color: #eee;
  width: 100%;
  height: fit-content;
  padding-bottom: 20px;
  h2 {
    margin-bottom: 40px;
  }
}

.feat {
  background-color: #fff;
  padding: 10px 5px;
  margin-bottom: 15px;
  color: rgb(129, 126, 126);
  height: 180px;
  border-radius: 25px;
  transition: all 0.6s linear;
  span {
    font-size: 20px;
  }
  h3 {
    margin-bottom: 15px;
  }
  p {
    text-transform: capitalize;
    font-size: 15px;
  }
  &:hover span,
  &:hover h3 {
    color: #000;
    transform: scale(1.5, 1.5);
  }
}

// End section Features
//Start Section Comment
.comment {
  padding-top: 50px;
  padding-bottom: 50px;
  h3 {
    font-weight: bold;
  }
  .lead {
    line-height: 2em;
    margin-bottom: 10px;
  }
  span {
    font-size: 18px;
    font-weight: bold;
    color: $mainColor;
  }
  .carousel-inner {
    min-height: 160px;
  }
  .carousel-indicators {
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;
    li {
      text-indent: 0;
      width: 80px;
      height: 80px;
      overflow: hidden;
      margin-left: 10px;
      border: 3px solid #eee;
      opacity: 0.5;
      &:hover {
        border: 3px solid $mainColor;
        opacity: 1;
      }
    }
  }
}
//End Section Comment

//Start section price table
.price {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  h2 {
    margin-bottom: 50px;
  }
  h4 {
    margin-bottom: 30px;
    font-weight: bold;
  }
  .box {
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    &:hover p {
      transform: scale(1.1, 1.1) rotate(360deg);
    }
    h4 {
      margin-bottom: 10px;
      font-weight: bold;
      white-space: nowrap;
    }
    p {
      font-size: 25px;
      margin-bottom: 15px;
      font-weight: bold;
      color: #666;
      width: 100px;
      height: 100px;
      background-color: #eee;
      line-height: 100px;
      border-radius: 50%;
      transition: all 0.7s ease;
    }
    ul {
      line-height: 250%;
      font-weight: bold;
    }
    button {
      margin-bottom: 10px;
    }
  }
}

//End section price table
// Start section Our-Team
.our-team {
  background: url(../img/01.jpg) no-repeat center center fixed;
  min-height: 600px;
  color: #fff;
  .content {
    background-color: rgba(2, 2, 2, 0.6);
    min-height: 600px;

    h1 {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .team {
      padding-top: 40px;
      padding-bottom: 40px;
      h3{
        margin-bottom: 40px;
      }
      i{
        font-size: 15px;
        margin-right: 10px;
        
      }
    }
  }
}
// End section Our-Team
